@font-face {
    font-family: 'RalewayExtraLight';
    src: url('fonts/RalewayExtraLight.eot');
    src: url('fonts/RalewayExtraLight.eot') format('embedded-opentype'),
         url('fonts/RalewayExtraLight.woff2') format('woff2'),
         url('fonts/RalewayExtraLight.woff') format('woff'),
         url('fonts/RalewayExtraLight.ttf') format('truetype'),
         url('fonts/RalewayExtraLight.svg#RalewayExtraLight') format('svg');
}
